
extends layout

block content
  include partials/navbar

  div.container
    div.page-header
        h1 My Lists
    p.lead This page will allow you to create a Top 10 List. We already have a database of Action movies to choose from, just start typing!
    form
      div.ui-widget
        label(for="Title") Title:
        input(type='text',id='Title')
        button(type='button',id='addMovie',value="Add Movie")
      div
        ul#sortable.ui-sortable
          li.ui-state-default
            span.ui-icon.ui-icon-arrowthick-2-n-s 
            'test'
          li.ui-state-default
            span.ui-icon.ui-icon-arrowthick-2-n-s 
          li.ui-state-default
            span.ui-icon.ui-icon-arrowthick-2-n-s 
              
block scripts
  //script(src='/vendor/jquery.min.js')
  //script(src='/vendor/jquery.form.js')
  script(src='//code.jquery.com/jquery-1.9.1.js')
  script(src='//code.jquery.com/ui/1.10.3/jquery-ui.js')
  script(src='/vendor/bootstrap.js')
  //script(src='/vendor/bootstrap-modal.js')
  //script(src='/vendor/bootstrap-transition.js')
  script(src='/js/views/mylists.js')
  script(src='/js/form-validators/accountValidator.js')