raiseText()
	color grey
	text-shadow: -1px 1px 0 white
	-moz-text-shadow: -1px 1px 0 white
	-webkit-text-shadow: -1px 1px 0 white

body 
	margin  0
	padding  0
	height  100%
	background rgb(242,249,254)
	background -moz-radial-gradient(center, ellipse cover,  rgba(242,249,254,1) 0%, rgba(214,240,253,1) 100%) /* FF3.6+ */
	background -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(242,249,254,1)), color-stop(100%,rgba(214,240,253,1))) /* Chrome,Safari4+ */
	background -webkit-radial-gradient(center, ellipse cover,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%) /* Chrome10+,Safari5.1+ */
	background -o-radial-gradient(center, ellipse cover,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%) /* Opera 12+ */
	background -ms-radial-gradient(center, ellipse cover,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%) /* IE10+ */
	background radial-gradient(center, ellipse cover,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%) /* W3C */
	
// login form //
    
#login-container{
	width 340px
	margin 160px auto	
	label{
		margin 15px 0 5px 5px
	}
	button{
		width 150px
		padding 6px 40px 6px 40px
		float left
		margin-top 15px
	}
	.checkbox{
		margin 23px 0 0 180px
	}
	.btm-links{
		text-align center
		margin-top 10px
	}
	#create-account{
		float:right
		margin-right:13px
	}	
	#forgot-password{
		float:left
		margin-left:10px
	}
}

// account form on signup & home page //

#account-form-container
	width 460px
	margin 100px auto
#country-list
	width 280px
.modal-form-errors li
	raiseText()
	color #D8000C

// retrieve password window //

.modal-single-input{
	width 452px	
	margin -200px 0 0 -232px
	form{
		raiseText()
		margin-bottom 0		
 		button{
			width 80px
			top 213px
			position absolute
		}
		#cancel{
			right 110px
		}
		#submit{
			right 18px
		}
	}
	.modal-body{
		height 140px
		overflow hidden	
		padding-bottom 0
	}	
	.modal-footer{
		height 20px
	}	
}

.modal-alert{
	width 310px
	margin -200px 0 0 -150px
}
    
// logged-in page //    
    
#btn-logout
	// width 100px
	// top 1px
	// right 8px
	// position absolute
	 
// support pages //

#print
	padding 20px
#four04
	padding:20px	
    
// general shared rules //
.clear-fix
	clear both
.well
	margin-left 0
	border 1px solid #CCC
.form-horizontal .control-label
	width 80px
.form-horizontal .controls
	margin-left 120px
.form-horizontal .form-actions
	padding 17px 0 0 270px
label
	raiseText()	
.subheading
	raiseText()
	margin-top 3px
button i
	padding-left 8px	