div.navbar.navbar-default.navbar-fixed-top(role="navigation")
  div.container
    div.navbar-header
      button.navbar-toggle(type="button",data-toggle="collapse", data-target=".navbar-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="#") Crunchy Scroll
    div.navbar-collapse.collapse
      ul.nav.navbar-nav
        li
          a(href="/home") Home
        li
          a(href="/mylists") My Lists
        li
          ul.nav.navbar-nav.navbar-right
                li
                  a#btn-logout Sign Out